extends layout

block content
    style.
        a{
            color: #0f0f0f;
        }
    ul.list-group
        li.list-group-item
            span.align-content-center
                a(href='FX') Ćwiczenia Wolne
        li.list-group-item
            span.align-content-center
                a(href='PH') Koń z Łękami
        li.list-group-item
            span.align-content-center
                a(href='SR') Kółka
        li.list-group-item
            span.align-content-center
                a(href='VT') Skok
        li.list-group-item
            span.align-content-center
                a(href='PB') Poręcze
        li.list-group-item
            span.align-content-center
                a(href='HB') Drążek