extends layout

block content
    style.
        a{
            color: #0f0f0f;
        }
    ul.list-group
        li.list-group-item
            span.align-content-center
                a(href='mistrzowska/') Mistrzowska
        li.list-group-item
            span.align-content-center
                a(href='mlodziezowiec/') Młodzieżowiec
        li.list-group-item
            span.align-content-center
                a(href='I/') Klasa I
        li.list-group-item
            span.align-content-center
                a(href='II/') Klasa II
        li.list-group-item
            span.align-content-center
                a(href='III/') Klasa III
        li.list-group-item
            span.align-content-center
                a(href='mlodziezowa/') Młodzieżowa