extends layout

block content
    style.
        a{
            color: #0f0f0f;
        }
    .container
        ul.list-group
            li.list-group-item
                span.align-content-center
                    a(href='mistrzowska/') Mistrzowska
            //li.list-group-item
                span.align-content-center
                    a(href='mlodziezowiec/') Młodzieżowiec
            li.list-group-item
                span.align-content-center
                    a(href='I/') Klasa I
            li.list-group-item
                span.align-content-center
                    a(href='II/') Klasa II
            li.list-group-item
                span.align-content-center
                    a(href='III/') Klasa III
            li.list-group-item
                span.align-content-center
                    a(href='mlodziezowa/') Młodzieżowa
            li.list-group-item
                span.align-content-center
                    a(href='mlodziezowa/2012') Młodzieżowa 2012
            li.list-group-item
                span.align-content-center
                    a(href='mlodziezowa/2013') Młodzieżowa 2013
            li.list-group-item
                span.align-content-center
                    a(href='mlodziezowa/2014-') Młodzieżowa 2014 i młodsi
            li.list-group-item
                span.align-content-center
                    a(href='i_krok/') I krok gimnastyczny
            li.list-group-item
                span.align-content-center
                    a(href='i_krok/') I krok gimnastyczny 2014
            li.list-group-item
                span.align-content-center
                    a(href='i_krok/') I krok gimnastyczny 2015 i młodsi