extends layout

block content
    style.
        a{
            color: #0f0f0f;
        }
    .container
        ul.list-group
            li.list-group-item
                span.align-content-center
                    a(href='div1/') Rzut I
            li.list-group-item
                span.align-content-center
                    a(href='div2/') Rzut II
