extends layout

block content
    style.
        a {
            color: #0f0f0f;
        }
    ul.list-group
        li.list-group-item
            span.align-content-center
                a(href='I_Edition/') I Edition
        li.list-group-item
            span.align-content-center
                a(href='II_Edition/') II Edition
        li.list-group-item
            span.align-content-center
                a(href='III_Edition/') III Edition
        li.list-group-item
            span.align-content-center
                a(href='IV_Edition/') IV Edition