extends layout

block content

  main.container(role='main')

    .jumbotron.bg-secondary
        h1 I Edycja Małopolskiej Ligi Gimnastycznej 2023

        p.lead
           | Zapraszamy do śledzenia na bierząco wyników zmagań w klasach: Młodzieżowiec, I, II, III i Młodzieżowa.
        a.btn.btn-lg.btn-primary(href='/results/' role='button') Wyniki &raquo;
  //main.container(role='main')
  //
  //      .jumbotron.bg-secondary
  //          h1 I Edycja Małopolskiej Ligi Gimnastycznej 2020
  //
  //          p.lead
  //              | Zapraszamy do śledzenia na bierząco wyników zmagań w klasach: I, II, III i Młodzieżowej.
  //          a.btn.btn-lg.btn-primary(href='/results/' role='button') Wyniki &raquo;
  //main.container(role='main')
  //
  //      .jumbotron.bg-secondary
  //          h1 I Edycja Małopolskiej Ligi Gimnastycznej 2020
  //
  //          p.lead
  //              | Zapraszamy do śledzenia na bierząco wyników zmagań w klasach: I, II, III i Młodzieżowej.
  //          a.btn.btn-lg.btn-primary(href='/results/' role='button') Wyniki &raquo;
  //main.container(role='main')
  //
  //      .jumbotron.bg-secondary
  //          h1 I Edycja Małopolskiej Ligi Gimnastycznej 2020
  //
  //          p.lead
  //              | Zapraszamy do śledzenia na bierząco wyników zmagań w klasach: I, II, III i Młodzieżowej.
  //          a.btn.btn-lg.btn-primary(href='/results/' role='button') Wyniki &raquo;


