extends layout
block content
    style.

    script(defer, src="/js/socket.io.js")
    -var role = user.role;
    -var name=competitor.firstname+' ' + competitor.lastname
    h2.text-center=name
    input.form-control(type='hidden', id='Role',  required='', value=role)
    input.form-control(type='hidden', id='Apparatus', required='', value=user.apparatus)
    if role === 'Arbiter'
        form.form-signin(method='POST' id='postForm')
            #form-group

                input.form-control(type='number', step='0.1',id='D' , name='D', placeholder='Ocena D', required='')
                input.form-control(type='number', step='0.1',id='E1' , name='E1', placeholder='Ocena E1', required='')
                input.form-control(type='number', step='0.1',name='E2' , id='E2', placeholder='Ocena E2', required=''  )
                input.form-control(type='number', step='0.1',name='E3' , id='E3', placeholder='Ocena E3', required='' )
                input.form-control(type='number', step='0.1',name='E4' , id='E4', placeholder='Ocena E4' , required='')
                br
                input.form-control(type='number', step='0.1',name='E' , id='E', placeholder='Ocena E' , required='', disabled)
                input.form-control(type='number', step='0.1',name='Final' , id='Final', placeholder='Ocena Final' , required='', disabled)
                button.btn.btn-lg.btn-info.btn-block(type='button',onclick='judge()') Oceń

                button.btn.btn-lg.btn-success.btn-block(type='submit', formmethod='post') Zapisz

    else
        form.form-signin(id='noteForm')

            input.form-control(type='number', id='E', step='0.1', min='0', max='10', name='Ocena '+role, placeholder='Ocena E', value='',  required='')
            input.btn.btn-lg.btn-primary.btn-block( id='przycisk', value='Wyślij')
    script.
        var element = function (id) {
            return document.getElementById(id);

        }
        function judge() {
            var e;
            var table={};
            table[0]=element('E1').value;
            table[1]=element('E2').value;
            table[2]=element('E3').value;
            table[3]=element('E4').value;
            var n=4
            for(x=0;x<4;x++){
                if (table[x]===""){
                    table[x]=0;
                }
            }
            for (j=0;j<n;j++) {
                for (i = 0; i < n; i++) {
                    if (parseFloat(table[i]) > parseFloat(table[i + 1])) {
                        e = table[i];
                        table[i] = table[i + 1];
                        table[i + 1] = e;

                    }

                }}
                console.log(table);
                e = (parseFloat(table[1]) + parseFloat(table[2])) / 2
                if (table[0]===0)
                {e=parseFloat(table[2])}
                if (table[0] === 0 && table[1]===0) {
                    e = (parseFloat(table[3]) + parseFloat(table[2])) / 2
                }
                if (table[0] === 0 && table[1] === 0&& table[2]===0) {
                    e = parseFloat(table[3])
                }


                element('E').value = 10-e.toFixed(2);
                element('Final').value = parseFloat(element('D').value)+parseFloat(element('E').value);


            };
    script.

        $(function(){

            var element = function (id) {
                return document.getElementById(id);

            }
            var socket = io.connect();
            if (element('Role').value!=='Arbiter')
            {

                var E = element('E');
                var role = element('Role');
                var apparatus = element('Apparatus');
                var btn = element('przycisk');
                btn.addEventListener('click', function (event) {
                    event.preventDefault();
                    console.log(E.value);
                    console.log(role.value);
                    console.log(apparatus.value);
                    socket.emit('send note', {
                        apparatus: apparatus.value,
                        role: role.value,
                        note: E.value


                    });
                    E.value = '';





            });}
            socket.on('note',function(data){

                if(data[0].apparatus===element('Apparatus').value){
                    if(element('Role').value==='Arbiter')
                        element(data[0].role).value=data[0].note;

                }


            })
        });