extends layout

block content
    style.
        a{
            color: #0f0f0f;
        }
    .container
        ul.list-group
            li.list-group-item
                span.align-content-center
                    a(href='I/') Zastęp I
            li.list-group-item
                span.align-content-center
                    a(href='II/') Zastęp II
            li.list-group-item
                span.align-content-center
                    a(href='III/') Zastęp III
            li.list-group-item
                span.align-content-center
                    a(href='IV/') Zastęp IV
            li.list-group-item
                span.align-content-center
                    a(href='V/') Zastęp V
            li.list-group-item
                span.align-content-center
                    a(href='VI/') Zastęp VI
            li.list-group-item
                span.align-content-center
                    a(href='VII/') Zastęp VII
            li.list-group-item
                span.align-content-center
                    a(href='VIII/') Zastęp VIII