extends layout

block content
    style.
        a{
            color: #0f0f0f;
        }
    main.container(role='main')
        ul.list-group
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr1/fx') Grupa 1 Ćwiczenia Wolne
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr1/ph') Grupa 1 Koń
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr1/sr') Grupa 1 Kółka
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr1/vt') Grupa 1 Skok
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr1/pb') Grupa 1 Poręcze
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr1/hb') Grupa 1 Drążek
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr2/fx') Grupa 2 Ćwiczenia Wolne
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr2/ph') Grupa 2 Koń
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr2/sr') Grupa 2 Kółka
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr2/vt') Grupa 2 Skok
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr2/pb') Grupa 2 Poręcze
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr2/hb') Grupa 2 Drążek
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr3/fx') Grupa 3 Ćwiczenia Wolne
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr3/ph') Grupa 3 Koń
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr3/sr') Grupa 3 Kółka
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr3/vt') Grupa 3 Skok
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr3/pb') Grupa 3 Poręcze
            li.list-group-item
                span.align-content-center
                    a(href='/omk/gr3/hb') Grupa 3 Drążek