extends ../layout

block content
    style.
        h7 {
            color: #0f0f0f;
        }
    each competitor, i in competitors
        if competitor.subdivision === 'II'
            ul.list-group
                li.list-group-item
                    h7=competitor.firstname + ' ' + competitor.lastname + ' Klasa: ' + competitor.clas
                    span.float-right
                        button.btn-success.pull-right
                            a.btn-success(href=competitor._id) Oceń